name: .FindJob.nu CI/CD Pipeline

on:
  push:
    branches: [ "master" ] 
  pull_request:
    branches: [ "master" ] 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x 

      - name: Restore (solution)
        run: dotnet restore Findjobnu.sln

      - name: Build (solution)
        run: dotnet build Findjobnu.sln --no-restore

      - name: Test (solution)
        run: dotnet test Findjobnu.sln --no-build --verbosity normal

      - name: Publish API for deployment
        run: dotnet publish findjobnuAPI/FindjobnuService.csproj -c Release -o publish/findjobnuAPI

      - name: Publish AuthService for deployment
        run: dotnet publish AuthService/AuthService.csproj -c Release -o publish/AuthService
                                
      - name: Upload api build artifact
        uses: actions/upload-artifact@v4
        with:
          name: findjobnuAPI-build-artifact 
          path: publish/findjobnuAPI

      - name: Upload authservice build artifact
        uses: actions/upload-artifact@v4
        with:
          name: AuthService-build-artifact 
          path: publish/AuthService

  deploy:
    needs: build 
    runs-on: ubuntu-latest
    environment: Development 
    if: github.event_name == 'push'
    steps:
      - name: Download API build artifact
        uses: actions/download-artifact@v4
        with:
          name: findjobnuAPI-build-artifact
          path: ./findjobnuAPI-downloaded-artifact

      - name: Download Auth Service build artifact
        uses: actions/download-artifact@v4
        with:
          name: AuthService-build-artifact
          path: ./AuthService-downloaded-artifact

      - name: Deploy API application files via SCP
        uses: appleboy/scp-action@v0.1.7 
        with:
          host: ${{ vars.SERVER_NAME }} 
          username: ${{ vars.SERVER_USER }} 
          key: ${{ secrets.SERVER_ROOT_CERTIFICATE }} 
          source: "./findjobnuAPI-downloaded-artifact/*" 
          target: "/var/www/findjobnu/publish" 
          strip_components: 1
    
      - name: Deploy AuthService application files via SCP
        uses: appleboy/scp-action@v0.1.7 
        with:
          host: ${{ vars.SERVER_NAME }} 
          username: ${{ vars.SERVER_USER }} 
          key: ${{ secrets.SERVER_ROOT_CERTIFICATE }} 
          source: "./AuthService-downloaded-artifact/*" 
          target: "/var/www/findjobnu/auth/publish" 
          strip_components: 1

      - name: Execute post-deployment commands via SSH
        uses: appleboy/ssh-action@v1.0.3 
        with:
          host: ${{ vars.SERVER_NAME }}
          username: ${{ vars.SERVER_USER }}
          key: ${{ secrets.SERVER_ROOT_CERTIFICATE }}
          script: |
            echo "Deployment completed on $(date)"
            echo "Restarting findjobNu API service."
            sudo systemctl restart findjobnuapi.service
            echo "Restarting auth service service."
            sudo systemctl restart authapi.service
            echo "Listing API Status."
            sudo systemctl status findjobnuapi.service
            echo "Listing auth Status."
            sudo systemctl status authapi.service
